<!DOCTYPE html>
<html>
  <head>
    <title>FlascardRails</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
      <ul class="nav navbar-nav">
         <!-- <li><a href="/sessions/new">Login</a></li> -->
         <li><%= link_to "Flashcard Home", decks_path %></li>
         <li><%= link_to "Register", new_user_path %></li>
        <!-- <li><a href="/users/new">Add a new user</a></li> -->
        <!-- <li><a href="#">Page 3</a></li> -->
      </ul>
    </div>
</nav>
    <%= yield %>
  </body>
</html>
